aside,
div#top,
div#user-account,
div#user-details {
  display: flex;
}

aside,
div#user-account {
  justify-content: space-between;
}

aside,
div#top {
  flex-direction: column;
}

aside {
  max-width: 250px;
}

div#top {
  gap: 16px;
}

#logo {
  height: 60px;
}

hr {
  height: 2px;
  background: #eff0f3;
}

aside h2 {
  padding: 10px 0;
}

div#top > ul > li {
  padding-bottom: 14px;
}

aside li a {
  font-size: 13px;
  font-weight: 500;
  color: var(--text-color-secondary-medium);
}

.sublist {
  padding-left: 20px;
  padding-top: 8px;
}

ul.sublist > li {
  height: 33px;
}

div#user-account {
  background-color: var(--white-bg-color);
  border-radius: 6px;
  border: 1px solid var(--border-color-primary);
  padding: 12px 15px;
  gap: 14px;
  align-items: center;
}

div#user-account img#profile {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

div#user-details {
  gap: 10px;
}

div#user-account div,
div#user-account p,
div#user-account h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active {
  fill: var(--accent-color-blue, #0098ac);
}
