#root {
  margin: 0;
  padding: 24px 24px 12px 24px;
  height: 100vh;
}

#app {
  display: flex;
  height: 100%;
  gap: 28px;
}

main {
  width: 100%;
  border-radius: 10px;
  background-color: var(--white-bg-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  height: 100%;
  overflow: scroll;
}

main > div {
  width: 100%;
  padding: 10px;
  height: 100%;
}

main > section,
main > div > section {
  padding: 24px 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

div.section-heading {
  display: flex;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

#skip-nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 10px;
  background-color: brown;
  color: #fff;
}

#skip-nav:link,
#skip-nav:visited {
  color: #fff;
}

#skip-nav:hover,
#skip-nav:active {
  text-decoration: underline;
}

@media screen and (min-width: 1600px) {
  section.cards {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1330px) and (max-width: 1599px) {
  section.cards {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1000px) and (max-width: 1329px) {
  section.cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
  section.cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
  section.cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
