:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-bg-color: #f8f8f8;
  --white-bg-color: #fff;
  --text-color-primary-light: #9ea8b6;
  --text-color-secondary-medium: #60646a;
  --text-color-primary-dark: #3c3c3c;
  --border-color-primary: #eff0f3;
  --accent-color-blue: #08b3c9;
}

* {
  margin: 0;
  margin-block: 0;
  margin-inline: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-color-blue, #08b3c9);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--main-bg-color, #f8f8f8);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: var(--text-color-primary-light, #9ea8b6);
}

h3 {
  color: var(--text-color-primary-dark, #3c3c3c);
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 14px;
}

ul,
ol {
  list-style: none;
}

li > a {
  display: flex;
  align-items: center;
  gap: 8px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
